Source: stsbl-iserv-server-unbound
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-server-unbound
Architecture: all
Depends: dns-root-data,
         iserv-ssl,
         iserv-update,
         unbound,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ Unbound-Server
 Konfiguriert den DNS-Forwarder Unbound zum Weiterleiten von Anfragen an
 Upstream-Server.
Tag: suite::iserv
